:root {
    --azul-escuro: #111729;
    --cinza-escuro: #223344;
    --azul-claro: #2A4DD0;
    --verde: #4CA154;
    --cinza-claro: #909193;
    --branco: #F2F9FE;
    --tamanho-titulo: 60px;
    --tamanho-body: 18px;
    --tamanho-texto-botao: 16px;
    --tamanho-texto-pequeno: 14px;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--branco);
}

#logo {
    /* background-color: rgba(144, 238, 144, 0.548); */
    position: absolute;
    width: 200px;
    margin: -15px 0 0 50px;
}

nav {
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-evenly;
    margin: 45px 370px 10px 440px;
    color: var(--cinza-escuro);
    font-size: var(--tamanho-texto-pequeno);
    font-weight: 500;
}

#nav-sobre-nos {
    color: var(--azul-claro);
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 5px;
}

#tema {
    background-color: var(--azul-escuro);
    display: flex;
    padding: 2px 0 2px 3px;
    width: 48px;
    margin: -36px 0 0 1200px;
    border-radius: 20px;
}

#icon-lua-claro {
    width: 17px;
    cursor: pointer;
}

#icon-sol {
    background-color: var(--branco);
    width: 20px;
    border-radius: 50px;
    padding: 1px;
    margin: 0 0 0 5.5px;
    cursor: pointer;
}

p {
    /* background-color: rgb(222, 217, 248); */
    font-size: var(--tamanho-body);
    color: var(--cinza-escuro);
    font-weight: 500;
}

#paragrafo-header {
    margin: 90px 0 30px 56px;
    width: 500px;
}

h1 {
    /* background-color: rgba(210, 105, 30, 0.397); */
    color: var(--cinza-escuro);
    font-size: var(--tamanho-titulo);
    width: 550px;
    margin: 0 0 30px 56px;
}

#paragrafo-principal {
    margin: 0 0 25px 56px;
    width: 700px;
}

button {
    background-color: var(--azul-claro);
    color: white;
    font-weight: 500;
    margin: 0 23px 30px 56px;
    padding: 10px 32px;
    border-radius: 10px;
}

.botao a {
    color: var(--azul-claro);
    font-size: var(--tamanho-texto-botao);
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 5px;
}

footer {
    /* background-color: rgba(220, 20, 60, 0.445); */
    position: relative;
    margin: 15px 0 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    color: var(--cinza-escuro);
}

h2 {
    font-size: 12px;
    font-weight: 500;
    margin-right: 10px;
}

h2::before {
    content: url('./media/checkmark-circle.svg');
    display: inline-block;
    height: 18px;
    vertical-align: top;
}

.imagem {
    /* background-color: rgba(85, 107, 47, 0.596); */
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    width: 730px;
    margin: -520px 0 100px 535px;
}

.imagem img {
    width: 75%;
    height: 75%;
}

/* TEMA ESCURO */
.dark-mode {
    background-color: var(--azul-escuro);
}

.dark-mode nav {
    color: white;
}

.dark-mode #tema {
    background-color: var(--cinza-escuro);
}

.dark-mode #icon-lua-claro {
    background-color: var(--branco);
    border-radius: 50px;
    width: 20px;
}

.dark-mode #icon-lua-escuro {
    background-color: #4CA154;
    width: 17px;
}

.dark-mode #icon-sol {
    background-color: white;
    margin: 0 0 0 2.5px;
}

.dark-mode p {
    color: white;
}

.dark-mode h1 {
    color: white;
}

.dark-mode .botao a {
    color: white;
    font-weight: 600;
}

.dark-mode footer {
    color: white;
}